/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.ipython
/.java
/.local
/.profile
/.ssh
/.vscode-server
/.wget-hsts
/Poil_32merFrq.tsv
/Poil_contigBubble.fa
/Poil_gapClosed.fa
/Poil_lib1_insFreq.tsv
/Poil_lib2_insFreq.tsv
/Poil_scaffoldBubble.fa
/Poil_scaffoldComponent.tsv
/assemble.log
/fastqc
/fastqc_trim
/gapclose.log
/multiqc
/multqctrim
/scaffold.log
/snap
/oilMP_S4_L001_R1_001.fastq
/oilMP_S4_L001_R2_001.fastq
/oil_R1.fastq
/oil_R2.fastq